.aboutimg {
  height: 430px;
}
.aboutimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bio_title {
  color: #212121;
  font-family: "Merriweather", serif;
  margin-bottom: 25px;
}
.bio_title span {
  color: #fcc008;
  text-transform: uppercase;
}
