.video {
  width: 100%;
  height: 40rem;
  max-height: 40rem;
  object-fit: cover;
}

.video_block {
  position: relative;
  height: 40rem;
}

.video_block:before {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  z-index: 0;
  background: rgba(0, 0, 0, 0.3);
  min-height: 100%;
  content: "";
}

.blockCaptions {
  position: absolute;
  bottom: 5%;
  color: #fff;
  transform: translate(-50%, -50%);
  width: 50%;
  left: 50%;
  text-align: center;
  font-family: "Merriweather", serif;
}

.blockCaptions h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
}
.blockCaptions h5 {
  line-height: 1.9rem;
}

@media screen and (max-width: 767px) {
  .blockCaptions {
    width: 100%;
  }
  .video {
    object-fit: cover;
    height: 50vh;
  }
  .video_block {
    top: 0;
  }
  .blockCaptions h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1900px) {
  .video_block {
    height: 60rem;
    max-height: 60rem;
  }
  .video {
    height: 60rem;
    max-height: 60rem;
  }
}
